<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero-Section</title>

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="hero.css">


</head>
<body>
    <header>
        <nav class="container ">
            <div>
                LOGO
            </div>
            <div> Navigation </div>
        </nav>
        
        <div class="header-container ">
            <div class="header-con-inner">
                <h1>A healty meal delivered to your door, ever-day </h1>
                <p>The smart 365-days-per-year food subscription that will make you eat healty algain. Tailored to your personal tests and nutritional needs </p>
    
                <a href="#" class="btn"> Start eating well</a>

            </div>
           
        </div>

        

        
    </header>

<section>
    <div class="container">
        <h2>
            Some radom heading
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore consequuntur autem rerum sapiente, quaerat veritatis earum! Aliquid corrupti id natus quaerat mollitia ullam non odio dolorem aliquam? Mollitia repudiandae inventore, libero reprehenderit praesentium voluptate, explicabo, rem deserunt recusandae vel natus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore consequuntur autem rerum sapiente, quaerat veritatis earum! Aliquid corrupti id natus quaerat mollitia ullam non odio dolorem aliquam? Mollitia repudiandae inventore, libero reprehenderit praesentium voluptate, explicabo, rem deserunt recusandae vel natus.</p>
    </div>
</section>

</body>
</html>