<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">

        <div class="box">
          <div class="sp">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon " fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                  </svg>
                </button>
          </div>

           <div class="div-link">
            <a href="#" class="link sp">1</a>
           </div>

            <div class="div-link">
                <a href="#" class="link sp">2</a>
            </div>

            <div class="div-link">
                <a href="#" class="link link--3 sp">3</a>
            </div>

            <div class="div-link">
                <a href="#" class="link sp">4</a>
            </div>

            <div class="div-link">
                <a href="#" class="link sp">5</a>
            </div>

            <div class="div-link">
                <a href="#" class="link sp">6</a>
            </div>
            <span>...</span>

            <div class="div-link">
                <a href="#" class="link sp">23</a>
            </div>

            <div class="sp">

                <button><svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                  </svg>
                </button>
            </div>



        </div>
    </div>
    
</body>
</html>