*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    background-color: #f8f4ee;
}

/* -----------------nav----------- */
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-left: auto;
    padding-bottom: 48px;

}
.nav-img{
    width: 178px;
    margin:48px 128px ;
}
.nav-links{
    margin:48px 128px ;

}
.nav-link{
    display: inline-block;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 9px 20px;


}
.nav-link:hover{
    color: #47494E;
    
}

.header-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 150px;
    padding-bottom: 80px; 
    

}
.header-img{
    width: 500px;
    
}
h1{
    font-size: 62px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: Poppins,sans-serif;
}
p{
    font-family: Raleway, sans-serif;
    font-size:  16px;
    line-height: 28px;
    color:#6D6C6B;
    margin-bottom: 30px;
}
.header-text{
    padding: 80px; 
}
.btn{
    display: inline-block;
    font-family: Poppins, sans-serif;
    padding: 0 40px;
    font-size: 17px;
    
}
.btn-b{
    background-color: black;
    color: white;
    padding: 16px 30px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 25px;
    
}
.btn-w{
    background-color:white;
    color: black;
    padding: 16px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    
}

